@{
    ViewBag.Title = "Ski weather";
}

<script type="text/x-template" id="app-template">
	<div style="padding: 4px">
		<form class="form-inline">
			<div class="form-group">
				<label for="key">Location:</label>
				<input type="text" class="form-control" id="key" v-model="input.loc">
			</div>
			<div class="form-group">
				<label for="key">Number of days:</label>
				<input type="number" class="form-control" id="days" v-model="input.days">
			</div>
			<button class="btn btn-default" v-on:click.prevent="update">Show</button>
		</form>
		<div class="container col-md-6">

			<div class="container panel">
				<h2>Nearest location</h2>
				<h3>Area name: {{data.nearest_area[0].areaName[0].value}}</h3>
				<h3>Country {{data.nearest_area[0].country[0].value}}</h3>
				<h3>Region: {{data.nearest_area[0].region[0].value}}</h3>
				<h2>Query info</h2>
				<h3>Query: {{data.request[0].query}}</h3>
				<h3>Type: {{data.request[0].type}}</h3>
				<h3>Distance: {{data.request[0].distance_miles}}</h3>
			</div>
		</div>
		<div class="container col-md-6">
			<h2>Daily data</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Date</th>
						<th>Snowfall </th>
						<th>Max temp at top(C)</th>
						<th>Max temp at bottom(C)</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="day in data.weather">
						<td>{{ day.date }}</td>
						<td>{{ day.totalSnowfall_cm }}</td>
						<td>{{ day.top[0].maxtempC }}</td>
						<td>{{ day.bottom[0].maxtempC }}</td>
					</tr>
				</tbody>
			</table>
			<h2>First day hourly</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Time</th>
						<th>Freeze level </th>
						<th>Snowfall (cm)</th>
						<th>Temp at mid(C)</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="day in data.weather[0].hourly">
						<td>{{ day.time }}</td>
						<td>{{ day.freezeLevel }}</td>
						<td>{{ day.snowfall_cm }}</td>
						<td>{{ day.mid[0].tempC }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</script>

<script type="text/javascript">
	new Vue({
		el: '#app',
		template: "#app-template",
		data: {
			input: { loc: "52.233,-90.75", days: 5},
			data: {
				ClimateAverages: [],
				weather: [],
				nearest_area: [],
				request: []
			}
		},
		mounted() {
			this.update()
		},
		methods: {
			update() {
				var self = this;
				$.post("/home/getskiweather", this.input, function (resp) { self.data = resp.data })
			}
		}
	});
</script>